@import "./partial1";

@mixin warning {
  border: 1px solid black;
  padding: 1px 1px 0px 0px;  
}

button {
  @include warning;
}


//the normal css tags and their colors
p {
  background-color: $ptag-color;   
}


body {
  background-color: $body-bg-color;
  width: $body-width;
}

